body {
  padding-top: 100px;
}


.well {
  width: 80%;
}

span {
  font-size: 25px;
}

.btn {
  display: inline-block;
  width: 27%;
}
.form-control {
  display: inline-block;
  width:70%
}

.center-block {
  display: block !important;
}

@media screen and (max-width:992px){
  .well{
    width: 100%;
    margin: 0px;
    border-radius: 0px;
  }
  body {
    padding-top: 0px;
  }
  .col-sm-6 {
    padding: 0px;
  }
  .container {
    width: 100%
  }
}
